<a href="https://colab.research.google.com/github/Nechalaurudoma/tryandfail/blob/homewreck_i_mean_homework/python_loops_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x= 'a'
id(x)
x= x+'b'
id(x)

140447044311856

In [ ]:
x= int(input('Type number'))
if x % 2 ==0 :
  print (x,'is even')
  if x == 0:
    print ('x is 0')
else : 
    print(x,'is odd')
if x ==2 : 
  print('x is 2')
elif x<5:
  print ('x is less than 5')
print ('it´s raining outside')

Type number0
0 is even
x is 0
x is less than 5
it´s raining outside

In [ ]:
#You have list of top 20 names in Czech Republic
names_list = ['Jiri', 'Jan', 'Marie', 'Petr', 'Jana', 'Josef', 'Pavel', 'Martin', 'Jaroslav', 'Tomas', 'Eva', 'Miroslav', 'Hana', 'Anna', 'Zdenek', 'Frantisek', 'Vaclav', 'Michal', 'Lenka', 'Katerina']
#ask for users name, respond if in list
name= str(input ('Type your name: ') )
if name in names_list:
  print (name, 'is in the top 20 most used names in Czech Republic')
else:
  print (name, 'is not a very common name')

Type your name: Lenka
Lenka is in the top 20 most used names in Czech Republic

In [ ]:
list(range(1,11,2))
#range (stop), range (start, stop, step)

[1, 3, 5, 7, 9]

In [ ]:
word= 'python'
for letter in word:
  print (letter)

p
y
t
h
o
n

In [96]:
#You have international spelling alphabet
dictionary = {'a':'alfa', 'b':'bravo', 'c':'charlie', 'd':'delta', 'e':'echo', 'f':'foxtrot', 'g':'golf', 'h':'hotel', 'i':'india', 'j':'juliett', 'k':'kilo', 'l':'lima', 'm':'mike', 'n':'november', 'o':'oscar', 'p':'papa', 'q':'quebec', 'r':'romeo', 's':'sierra', 't':'tango', 'u':'uniform','v':'victor','w':'whiskey', 'x':'x-ray', 'y':'yankee', 'z':'zulu'}

#ask name
name= str(input ('Type your name: ') )
for x in name:
  if x in dictionary:
    print(x, dictionary[x])

Type your name: laura
l lima
a alfa
u uniform
r romeo
a alfa

In [118]:
b= []
a=[[1,2,3],[4,5,6],[7,8,9]]
for x in a:
  print(x)
  for y in x:
    b.append(y)
print(b)
c=[]
d=[]
e=[]
for z in b:
  print(z)
  if z%3==1:
    c.append(z)
  elif z%3==2:
    d.append(z)
  elif z%3==0:
    e.append(z)
f=[c,d,e]
print(f)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
2
3
4
5
6
7
8
9
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [84]:
for x in range (0,5):
  print(x)

0
1
2
3
4

In [88]:
a=[[1,2,3],[4,5,6],[7,8,9]]
clen = []
for i in range (0,3):
  for j in range (0,3):
    clen.append(a[i][j])
  b.append(clen)
  clen=[]
print(b)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [79]:
flat_list = []
list = ['whatever',['1','2','3'],'3er']

for member in list:
    if type(member) is list:
        for item in member:
            flat_list.append(item)
    else:
        flat_list.append(member)